<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
<sitecore>
	<settings>
		<!-- Specify sublayout root folder path in below setting. 
			 For example: /sitecore/layout/Sublayouts/[Site Sublayout Root FolderName]  
			 If you keep this setting as blank, then Sitecore Informatics tool will consider default sublayout folder path as:
			 /sitecore/layout/Sublayouts/[Your Sitecore Instance HomeRoot ItemName]
		-->
		<setting name="SubLayoutFolderPath" value="" />
		
		<!-- Specify template root folder path in below setting. 
			 For example: /sitecore/templates/User Defined/[Site Template Root FolderName]  
			 If you keep this setting as blank, then Sitecore Informatics tool will consider default template folder path as:
			 /sitecore/templates/User Defined/[Your Sitecore Instance HomeRoot ItemName]
		-->
		<setting name="TemplateFolderPath" value="" />
		
		<!-- Specify media root folder path in below setting. 
			 For example: /sitecore/media library/[Site Media Root FolderName]  
			 If you keep this setting as blank, then Sitecore Informatics tool will consider default media folder path as:
			 /sitecore/media library/[Your Sitecore Instance HomeRoot ItemName]
		-->
		<setting name="MediaFolderPath" value="" />
		
	</settings>
</sitecore>
</configuration>
